.version.index /* version checker */
{
	color: #000009;
	background-color: #D8184A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 840px;
	min-height: 375.95000000000005px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 60px 62.049999999999955px;
}

#u247
{
	z-index: 43;
	width: 350px;
	background-color: transparent;
	margin-left: 474px;
	position: relative;
}

#pu124
{
	z-index: 3;
	width: 0.01px;
	margin-top: 12px;
}

#u124
{
	z-index: 3;
	width: 840px;
	background-color: #E21E79;
	position: relative;
	margin-right: -10000px;
}

#u124::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u124_position_content
{
	margin-top: -32px;
	padding-bottom: 8px;
	width: 100%;
}

#u139-6
{
	z-index: 15;
	width: 840px;
	min-height: 88px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
}

#u139-2
{
	color: #E21E79;
}

#u139-3
{
	text-transform: uppercase;
	color: #E21E79;
}

#u127
{
	z-index: 4;
	width: 517px;
	background-color: transparent;
	margin-left: 148px;
	margin-top: 2px;
	position: relative;
}

#u273-4
{
	z-index: 11;
	width: 840px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	margin-top: 3px;
	position: relative;
}

#pamphletu143
{
	z-index: 21;
	width: 0.01px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 617px;
}

#u144
{
	z-index: 22;
	width: 192px;
	position: relative;
	margin-right: -10000px;
}

#u146
{
	position: absolute;
	height: 61px;
	width: 208px;
	vertical-align: top;
	top: -8px;
	left: -8px;
	background: transparent url("../images/sweet-about-btn-u146.png") no-repeat 8px 8px;
}

#u146:hover
{
	background: transparent url("../images/sweet-about-btn-u146-r.png") no-repeat 0px 0px;
}

#u152
{
	position: absolute;
	width: 699px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: 321px;
	left: -524px;
}

#u152popup
{
	z-index: 26;
}

#u153
{
	z-index: 27;
	width: 655px;
	height: 466px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u202
{
	z-index: 28;
	width: 446px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 118px;
}

#u159
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 2px;
	top: 449px;
	left: 30px;
}

#u159:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u159:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u160-4
{
	z-index: 31;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 4px;
}

#u160-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 20px;
	margin: 2px -10000px 0px 0px;
}

#u160-4:hover p
{
	font-size: 12px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u109
{
	z-index: 2;
	width: 840px;
	background-color: #FFFFFF;
	padding-top: 48px;
	padding-bottom: 93px;
	position: relative;
}

#u136-5
{
	z-index: 6;
	width: 840px;
	min-height: 60px;
	background-color: transparent;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
}

#u136-2
{
	font-weight: bold;
}

#pu219
{
	z-index: 35;
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u219
{
	z-index: 35;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u226
{
	z-index: 37;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 186px;
}

#u233
{
	z-index: 39;
	width: 166px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u240
{
	z-index: 41;
	width: 211px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 550px;
}

#u254
{
	z-index: 45;
	width: 289px;
	background-color: transparent;
	margin-left: 61px;
	margin-top: 86px;
	position: relative;
}

.html
{
	background: #00A99D url("../images/img_2642%20no%20background%20v3.png") repeat center center scroll;
}

body
{
	position: relative;
	min-width: 960px;
}

